<section class="footer footer1" style="margin-bottom:0px" >
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
  		<a href="/"><img src="/static/images/logo1.png" alt="LOGO" class="im" style="height:50px;width:70px"></a>
  		</div>
  		 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 txt">
  		<a href="#">© Developed and Designed By Sudhanshu Chaudhary, Shashank Sharma and Nikhil Sethi</a>
  		</div>
 		 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  		<a href="https://www.facebook.com/Solve-It-291820838275319/?modal=admin_todo_tour"><img src="/static/images/logo2.jpg" class="fb" style="height:50px;width:70px"></a>
  		</div>
  	</div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment-with-locales.min.js"></script>
<script src='/static/js/changetime.js'></script>