
.br {
    border-style: outset;
    border-width:1px 4px 6px 0px;
    border-color:rgba(230,230,230,50);
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.shape
{
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin:3px;
    background-color: rgba(0,80,240,.7);
    padding: 2px;
}
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #48c7ec;
    margin-left: 35px;
    transition: .3s;
}

.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}
a {
    color: hotpink;
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: white;
        text-decoration: none;
}

/* visited link */
a:visited {
    color:green;
        text-decoration: none;
}

/* mouse over link */
a:hover {
    color: yellow;
        text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
        text-decoration: none;
}


      a {
    color: white;
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: white;
     text-decoration: none;
}

/* visited link */
a:visited {
    color:yellow;
     text-decoration: none;
}

/* mouse over link */
a:hover {
    color: yellow;
     text-decoration: none;
}

/* selected link */
a:active {
    color: yellow;
     text-decoration: none;
}
html,body {
   
  
}


.upvote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('/static/images/upvote1.png');
   
} 


.downvote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('/static/images/downvote1.png');
   
} 

/* this for footer */

.footer1{
	
	background-color: rgba(10,10,30,.9);
    padding:20px;
    
    
    width:100%;
}
/* .im{
	width:90px;
}
.txt
{
	font-size:17px;
}
.fb{
	width:40px;
} */
@media only screen and (max-width: 600px) {
  .footer1{
	
	background-color: rgba(10,10,30,.9);
	padding:10px;
}
.im{
	width:40px;
}
.txt
{
	font-size:9px;
}
.fb{
	width:20px;
}
}