.logdfsin-signup-box {
					font-family: Arial, Helvetica, sans-serif;
					box-shadow:3px 2px grey;
					width:100px 50px;
					border-radius: 5px;
					float: right;
					text-align: center;
					background-color: #0b0b33;
					width : 10%;
					color: white;
					position: absolute;
					top: 10px;
					right: 20px;
					
					text-overflow: hidden;
}
.publish-btn{
				position: fixed;
				bottom: 100px;
				right: 150px;
				width: 120px;
				height: 120px;
}

.hide{
		display :none;
}
.navbar-margin{
				margin: 50px 50px auto 50px;
}
.main-margin{
		margin: 50px 50px auto;
}
.user{
		width: 250px;	
}
.publish-editor{
					resize: none;
					
}
.navbar-right{	
				margin-right:0px; 
				float: right;
}

.form-group{
				margin-top: 10px;
}

.padding-btm{
				padding-bottom: 20px;
}

.login-signup{
				float: right;
}
#login {
			text-align: center;

}
.header{
		position: relative;
		margin-top: 25px;
}
#social-signup{
			position: absolute;
			margin-top: 70px;

}
.button{
			border-radius: 5px 0 5px 0;
			background-color: #0b0b33;
			color: white;
			padding: 5px;
			margin: 0;

}
.clipped{
			background-image: url('https://images.pexels.com/photos/6482/black-and-white-man-person-hands.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
			width: 100%;
			height: 450px;
			background-position: center;
			background-size: cover;
			opacity: 1;
				
			justify-content: center;
			align-items: center;

}

.m-auto{
		color: #060526;
		display: flex;
		justify-content: center;
		
		height: 300px;

}

.pictures{
			
			float: left;
			position: absolute;
			top: 40px;
			height: 100px;
			width:100%;
			border:1px solid red;
			
			background-image:url('img_for_web.jpg');
			
			background-repeat: no-repeat;;
			background-size: cover;
	            
}

.btn-slanted{
				transform: skewX(-20deg);
				-ms-transform: skewX(-20deg);
  				-webkit-transform: skewX(-20deg);
}
.headline-center-align{
		margin: auto;
		width: 60%;
		text-align:center;
		min-width: 500px;
}

.btn-slanted-content{
				transform: skewX(20deg);
				font-family: "Lato", sans-serif;
				font-weight: 300;

}
.comments{
			border: 2px solid grey;
			border-radius: 10px;
			font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.active{
	background-color: green;
}
.headline{
	color :red;
	padding: 5px; 
	background-color: #eee;
	text-decoration: underline;
}
.view-comment{
	position: relative;
	left:-150px;
	top:-250px;
	width:0;
	height:0;
	border: 1px solid blue;
	overflow-y: scroll;
	overflow-x: hidden;
}
.read-comments{
	color:red;
	/*border-bottom: 1px solid black;*/

}


.commentor{
	position: relative;
	bottom: 0px;
	right: 0px;
	font-size: 10px;
}
.article{
	padding: 15px;
	margin-top: 10px;
	color : black;
	border: 1px solid black;
	border-radius: 5px;
	max-height: 150px;
	overflow: hidden;
	text-overflow: ellipsis;

}
.expressions{
	border :2px solid red;
	
	width:100%;
	margin: 5px;
	color: blue;
}

#new{
	padding: 10px;

}

.contest, .contest-box{
		padding: 5px;
		margin-top: 20px;
		
}
.contest-box-ind  {
			

			padding: 5px;
			border-radius: 5px;
			
			

}	